# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
build/

# Local data
store/
data/product_descriptions/
README.md 